html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* Header of home page (index.html) */

#navbar {
    background-color: rgb(253, 226, 230);
    height: 45px;
    color: white;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.nav-link {
    color: black;
    margin-left: 20px;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
}

#logo-container {
    margin-top: 30px;
}

.logo-picture {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}



/* Content of index page */

.content {
    margin-top: 85px;
    text-align: center;
    
}
.category-tag {
    text-align: center;
    font-size: 13px;
    font-family: 'News Cycle', sans-serif;
    color: rgb(251, 201, 209);
}

.entry-title-link {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry-date {
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}