html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/******************** Header of home page (index.html) **********************/
#navbar {
    background-color: rgb(253, 226, 230);
    height: 45px;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.nav-link {
    color: black;
    margin-left: 20px;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
}

#logo-container {
    margin-top: 30px;
}

.logo-picture {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}



/********************** Left Column/"content" of index page ***********************/

.content {
    margin-top: 150px;
    
}

.article-alignment {
    text-align: center;
}

.category-tag {
    font-size: 13px;
    font-family: 'News Cycle', sans-serif;
    color: rgb(250, 178, 190);
}

.entry-title-link {
    font-family: 'News Cycle', sans-serif;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry-date {
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.entry-paragraph {
    font-family: 'News Cycle', sans-serif;
    font-size: 17px;
    margin-top: 35px;
}

.button-section {
    text-align: center;
}

#see-more {
    margin-top: 30px;
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
    background-color: rgb(255, 231, 235);
    color: black;
    margin-bottom: 20px;
    align-items: center;
}

#see-more:hover {
    background-color: rgb(251, 164, 177);
}


/* "Leave a reply" section */

#leave-a-reply-header {
    font-family: 'News Cycle', sans-serif;
    margin-top: 30px;
}

.leave-a-reply {
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
}

.leave-reply-form-labels {
    font-family: 'News Cycle', sans-serif;
    font-size: 17px;
}

.comment-form, .name-form,
.email-form, .website-form {
    font-family: 'News Cycle', sans-serif;
}

.comment-form {
    font-size: 15px;
}

.name-label {
    margin-top: 0px;
}

.email-label, .website-label {
    margin-top: 25px;
}

.website-form {
    margin-bottom: 10px;
}

.post-comment {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    background-color: rgb(253, 226, 230);
    margin-top: 20px;
    margin-bottom: 30px;
}

.post-comment:hover {
    background-color: rgb(251, 164, 177);
}


/********************************* RIGHT COLUMN ********************************/


/* BIO section */
.bio-div {
    text-align: center;
}

.bio-paragraph {
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}


/* LETS CONNECT section */
.lets-connect-div {
    margin-top: 10px;
    text-align: center;
}

.lets-connect {
    background-color: rgb(253, 226, 230);
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.connect-icons {
    margin-top: 15px;
}


/* FEATURED POSTS section */
.featured-posts-div {
    text-align: center;
    margin-top: 50px;
}

.featured-posts-header {
    background-color: rgb(253, 226, 230);
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.featuredPostDescription {
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
}

.featuredArticle1:hover, .featuredArticle2:hover,
.featuredArticle3:hover {
    opacity: .6;
    cursor: pointer;
}

.featuredArticle1 {
    margin-top: 15px;
}

.featuredArticle2, .featuredArticle3 {
    margin-top: 80px;
}

.featuredArticle3 {
    margin-bottom: 50px;
}


/* CATEGORIES */
.categories-div {
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

.categories-title {
    font-size: 15px;
    background-color: rgb(253, 226, 230);
    padding: 10px;
}

.category1, .category2, .category3 {
    background-color: rgb(253, 226, 230);
    margin: 6px;
    font-size: 14px;
    padding: 5px;
}

.category1:hover, .category2:hover,
.category3:hover {
    background-color: rgb(251, 164, 177);
    cursor: pointer;
}

.category3 {
    margin-bottom: 60px;
}


/* SEARCH */
.search-div {
    font-family: 'News Cycle', sans-serif;
    margin-bottom: 50px;
}

.search-title {
    background-color: rgb(253, 226, 230);
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.bar-and-button {
    display: inline-flex;
}

.search-input {
    font-size: 15px;
    width: 390px;
    border: none;
}

.search-button {
    width: 50px;
    background-color: rgb(253, 226, 230);
    outline: none;
}

.search-button:hover {
    background-color: rgb(251, 164, 177);
}



/************************************* START OF SECOND ROW *******************************************/
.row2 {
    font-family: 'News Cycle', sans-serif;
    margin-bottom: 50px;
}
.subscribe-title, .tags-title, .ads-title {
    background-color: rgb(253, 226, 230);
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.subscribe-description {
    margin-top: 10px;
    font-size: 18px;
}

.subscribe-form {
    margin-top: 25px;
}

.subscribe-button {
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(253, 226, 230);
}

.subscribe-button:hover {
    background-color: rgb(251, 164, 177);
}

.ads-image {
    margin-top: 10px;
    text-align: center;
}










/******************************************* MEDIA QUERIES *********************************************/

/* iPhone */
@media only screen and (max-width: 768px) {

    body {
        width: 95%;
        float: none;
        width: auto;
    }


    #navbar {
        height: 60px;
    }

    .navbar-collapse {
        width: auto;
    }

    .navbar-toggler {
        background-color: black;
    }

    .logo-picture {
        font-size: 30px;
        margin-top: 100px;
    }

    .article1image {
        width: 80%;
    }
  }